.side-bar
  .side-bar__side-header
    .side-bar__side-header__box
      .side-bar__side-header__box__user-name
        current_user.name
      .side-bar__side-header__box-menu
        .link_to=#
        = icon('fas', 'user')
        .link_to=#
        = icon('fas', 'cog', class: 'icon')
    

  .side-bar__my-list 
    .side-bar__my-list__my-post
      い
    .side-bar__my-list__my-tag
      う
    .side-bar__my-list__my-sort
      え
      
